.category-cards .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category-cards .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
  max-width: 360px;
  min-height: 260px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f55e89;
  cursor: pointer;
  -webkit-box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.17);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

@media screen and (max-width: 768px) {
  .category-cards .item {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 576px) {
  .category-cards .item {
    width: calc(83.33333% - 30px);
  }
}

@media screen and (max-width: 768px) {
  .category-cards .item {
    min-height: 200px;
  }
}

.category-cards .item:hover {
  -webkit-transform: translateY(-55px);
          transform: translateY(-55px);
}

.category-cards .item:nth-of-type(1) {
  background-image: url(../img/media1a.jpg);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.category-cards .item:nth-of-type(1) .heading {
  margin-left: 20px;
}

.category-cards .item:nth-of-type(2) {
  background-image: url(../img/media2a.jpg);
}

.category-cards .item:nth-of-type(3) {
  background-image: url(../img/media3a.jpg);
}

.category-cards .item .heading {
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

.categories {
  background: #f3f3f3;
  -webkit-clip-path: polygon(0 2%, 100% 10%, 100% 90%, 0% 100%);
          clip-path: polygon(0 2%, 100% 10%, 100% 90%, 0% 100%);
  padding: 150px 0;
}

.categories .title-primary {
  margin-bottom: 35px;
}

.categories .left {
  width: 30%;
  background: url(../img/c1.jpg) no-repeat center center;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .categories .left {
    display: none;
  }
}

.categories .right {
  width: 70%;
}

@media screen and (max-width: 768px) {
  .categories .right {
    width: 100%;
  }
}

.categories .right .item {
  width: 50%;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: right;
  background-color: #fff;
  border: 1px solid #f9f9f9;
  box-sizing: border-box;
}

@media screen and (max-width: 576px) {
  .categories .right .item {
    width: 100%;
    text-align: center;
  }
}

.categories .right .item .heading {
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  color: #f55e89;
}

.categories .right .item .heading:hover {
  text-decoration: underline;
}

@media screen and (max-width: 576px) {
  .categories .right .item .heading {
    font-size: 20px;
  }
}

.bouquets .row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bouquets .row.per-3 .item {
  width: calc(33.33333% - 30px);
}

@media screen and (max-width: 768px) {
  .bouquets .row.per-3 .item {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 576px) {
  .bouquets .row.per-3 .item {
    width: calc(100% - 30px);
  }
}

.bouquets .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  display: block;
  color: #000;
  margin-bottom: 40px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

@media screen and (max-width: 768px) {
  .bouquets .item {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 576px) {
  .bouquets .item {
    width: calc(100% - 30px);
  }
}

.bouquets .item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.bouquets .item:hover .content {
  background-color: #fff;
}

.bouquets .item .image img {
  vertical-align: bottom;
}

.bouquets .item .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px;
  background-color: #f3f3f3;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.bouquets .item .b-category {
  color: #939393;
}

.bouquets .item .price {
  text-align: center;
}

.bouquets .item .btn-primary {
  padding: 9px 15px;
}

.contacts {
  background-color: #f55e89;
}

.contacts .left,
.contacts .right {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .contacts .left,
  .contacts .right {
    width: 100%;
  }
}

.contacts .left {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .contacts .left {
    padding: 15px;
  }
}

.contacts .title-primary {
  color: #fff;
}

.contacts .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #fff;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.contacts-form .title-tertiary {
  color: #f55e89;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  font-family: 'Neucha', cursive;
}

.contacts-form .input {
  display: block;
  width: 45%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  color: #000;
  padding: 12px 15px;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 2px solid #f55e89;
}

@media screen and (max-width: 768px) {
  .contacts-form .input {
    width: 100%;
  }
}

.contacts-form .input[type="number"]::-webkit-outer-spin-button,
.contacts-form .input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .contacts-form {
    margin: 30px 0;
  }
}

.contacts-info {
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-info .time {
  margin-right: 25px;
}

@media screen and (max-width: 768px) {
  .contacts-info .time {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 576px) {
  .contacts-info {
    padding: 20px 10px;
  }
}

.contacts-info h4 {
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 8px;
  font-family: 'Neucha', cursive;
}

@media screen and (max-width: 768px) {
  .contacts-info h4 {
    font-size: 18px;
  }
}

.contacts-info p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .contacts-info p {
    padding-left: 10px;
    font-size: 14px;
  }
}

.contacts-info a {
  color: inherit;
}

.contacts .map {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .contacts .map {
    height: 40vh;
  }
}

.contacts .map iframe {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

.contacts .socials a {
  color: #fff;
  font-size: 30px;
}

.contacts .socials a:hover {
  text-shadow: 0 0 5px #fff;
}

.socials {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.socials a {
  display: inline-block;
  color: #f55e89;
  -webkit-transition: text-shadow .3s ease;
  transition: text-shadow .3s ease;
  margin: 0 5px;
}

.socials a:hover {
  text-shadow: 0 0 5px #f55e89;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
}

.modal-background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.modal-content {
  position: relative;
  width: 500px;
  max-width: 80%;
  background-color: #fff;
  z-index: 111;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 40px;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  border-radius: 10px;
}

.modal-content .done {
  display: none;
}

.modal-content .done img {
  width: 150px;
}

.modal-content.done .form {
  display: none;
}

.modal-content.done .done {
  display: block;
}

.modal-heading {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.4em;
  margin-bottom: 20px;
}

.modal-input-name,
.modal-input-phone {
  width: 100%;
  height: 50px;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  font-size: 18px;
  color: #3b3b3b;
  padding: 0 22px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.modal-input-name:focus,
.modal-input-phone:focus {
  outline: none;
}

.modal .close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 40px;
  font-weight: 700;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: text-shadow .2s ease-in-out;
  transition: text-shadow .2s ease-in-out;
  cursor: pointer;
  text-shadow: 0 0 0rem transparent;
}

.modal .close-btn:hover {
  text-shadow: 0 0 15px #3b3b3b;
}

.modal-content {
  -webkit-transform: translateY(-8rem) scale(0.9);
  transform: translateY(-8rem) scale(0.9);
  opacity: .4;
}

.modal-background {
  opacity: .3;
}

.modal.active .modal-content {
  -webkit-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
  opacity: 1;
}

.modal.active .modal-background {
  opacity: 1;
}

.modal.active {
  visibility: visible;
}

@media screen and (max-width: 576px) {
  .modal-content {
    max-width: 85%;
    padding: 50px 20px;
  }
  .modal-heading {
    font-size: 21px;
  }
  .modal-input-name,
  .modal-input-phone {
    width: 100%;
    height: 40px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .modal-submit {
    height: 50px;
    font-size: 20px;
  }
  .modal .close-btn {
    top: 0;
    font-size: 40px;
    font-weight: 500;
  }
}

.complete-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 2000;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  opacity: 0;
  visibility: hidden;
}

.complete-modal.active {
  opacity: 1;
  visibility: visible;
}

.complete-modal.active .modal-background {
  opacity: 1;
}

.complete-modal.active .modal-content {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1 !important;
}

.complete-modal .icon {
  text-align: center;
}

.complete-modal .icon img {
  width: 200px;
}

@media only screen and (max-width: 768px) {
  .complete-modal .icon img {
    width: 60%;
  }
}

.complete-modal .modal-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 2100;
  background: rgba(0, 0, 0, 0.15);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  opacity: 0;
}

.complete-modal .modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  width: 400px;
  max-width: 90%;
  height: 400px;
  background: #fff;
  z-index: 2200;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.233);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.233);
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

@media only screen and (max-width: 768px) {
  .complete-modal .modal-content {
    height: auto;
    padding: 15px;
  }
}
/*# sourceMappingURL=main.css.map */